@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: inherit;
    font-family: "Noto Sans", sans-serif;
}

ul{
    list-style: none;
    padding: 0;
}

body {
	font-size: 16px;
    line-height: 18px;
	background: #c6ffdd;
	background: linear-gradient( to right, #f7797d, #fbd786, #c6ffdd );
    color: #2c3237;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
    min-width: 320px;
}
#root{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    height: 100vh;
}

.todo__inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
}

.todo__column{
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    padding-top: 40px;
}

@media (max-width: 950px) {
    .todo__inner{
        flex-direction: column;
        align-items: center;
    } 
}
@media (max-width: 500px) {
    .todo__inner{
        padding: 10px;
    } 
}